<app-header [isAdmin]="isAdmin" (loginRequested)="onLoginClick()"></app-header>

<app-login-dialog 
  [visible]="showLoginDialog" 
  (visibleChange)="showLoginDialog = $event"
  (loginSubmitted)="onLoginSubmit($event)">
</app-login-dialog>

<app-home-page 
  [policies]="policies" 
  [isAdmin]="isAdmin"
  (editPolicy)="onEditPolicy($event)"
  (deletePolicy)="onDeletePolicy($event)">
</app-home-page>

<app-policy-form-dialog 
  [visible]="showEditDialog"
  [isEdit]="true"
  [model]="editModel"
  (visibleChange)="showEditDialog = $event"
  (submitted)="onEditSubmit($event)">
</app-policy-form-dialog>

<app-policy-form-dialog 
  [visible]="showAddDialog"
  [isEdit]="false"
  [model]="addModel"
  (visibleChange)="showAddDialog = $event"
  (submitted)="onAddSubmit($event)">
</app-policy-form-dialog>

<app-admin-sidebar 
  *ngIf="isAdmin"
  (policiesClick)="loadPolicies()"
  (addPolicyClick)="onAddPolicyClick()"
  (logoutClick)="onLogout()">
</app-admin-sidebar>
